*{
	font-family: arial;
}

main {
	display: flex;
	margin: 3%;
}

.non-light-box {
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	width: 450px;
	justify-content: center;
}

header {
	display: flex;
	width: 450px;
}

.logo {
	background-color: black;
	color: white;
	height: 200px;
	text-align: center;
	width: 150px;
}

.metro {
	font-size: 50px;
}

.m {
	font-size: 125px;
}

.game-name {
	font-size: 100px;
	height: 180px;
	margin: 20px 0 0 5px;
	width: 300px;
}

.scoreboard {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	height: 150px;
	text-align: center;
	width: 400px;
}
.scoreboard :nth-child(1), .scoreboard :nth-child(2){
	color: red;
}

.scoreboard :nth-child(3), .scoreboard :nth-child(4) {
	color: yellow;
	width: 200px;
}

.scoreboard :nth-child(1), .scoreboard :nth-child(3){
	width: 280px;
}

.scoreboard :nth-child(2), .scoreboard :nth-child(4){
	width: 120px;
}

#start {
	background-image : url("Metrocard.jpg");
	height: 200px;
	width: 260px;
	background-size: contain;
  	background-repeat: no-repeat;
  	border-radius: 10%;
}

.light-box {
	margin: 10px 0 0 110px;
}

.green-line, .red-line, .yellow-line, .blue-line {
	display: flex;
	height: 150px;
	margin: 2%;
	width: 600px;
}

button {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

#green {
	background-color: green;
}

#red {
	background-color: #a8000b;
}

#yellow {
	background-color: #d6c100;
}

#blue {
	background-color: #2c42af;
}

.line-name {
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5%;
}