/*main {
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.game-console {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

button {
	height: 200px;
	width: 200px;
	display: flex;
}

#green {
	background-color: green;
}

#red {
	background-color: #a8000b;
}

#yellow {
	background-color: #d6c100;
}

#blue {
	background-color: #2034b6;
}

#start {
	height: 50px;
	margin: 200px;
}